#header{
	width: 70%;
	margin: 0px auto 0px auto;
	min-height: 60px;
}
#content{
	width: 80%;
    margin: 0px auto 0px auto;
    height: 120px;
    padding: 3px;
    border: 1px solid #FFA5C7;
    border-radius: 7px;
    box-shadow: 1px 1px 1px #FFA5C7;
    min-width: 750px;
}
#content-inside{
	margin: 0px auto 0px auto;
	width: 100%;
	height: auto;
}
#content-inside ul{
	padding-left: 0px;
	list-style: none;
}
#content-inside ul li{
	text-align: center;
}
#adsTop,#adsFoot{
	width: 100%;
	height: auto;
}
#adsTop li,#adsFoot li{
	text-align: center;

}
#adsTop li,#adsFoot li{
	display: block;
	text-align: center;
}
.titleList{
	list-style: none;
    height: 30px;
    padding: 0px;
    text-align: center;
    margin: 0px auto;
		margin-top: 9px;
}
.titleList li{
	display: inline-block;
    float: none;
    width: 9%;
    height: 30px;
    border: 1px;
    border-radius: 3px;
    background-color: antiquewhite;
}
a{
		text-decoration: none;
		color:black;
		line-height: 30px;
		color:#666;
		cursor: pointer;
}
.adsList li{
	display: block;
	height: 80px;
}
.adsList,.urlList{
	padding:0px;
	list-style: none;
	margin: 0px;
}
#listContent{
	width: 70%;
	margin: 0px auto 0px auto;
	height: auto;
	padding: 10px;
	border: 1px solid gainsboro;
    border-radius: 5px;
    box-shadow: 1px 1px 3px #FFA5C7;
}
.urlList li{
	display: block;
	height: 30px;
	vertical-align: center;
	font-size: 16px;
}
img.display-image{

}
.ad-aside-left{
	position: fixed;
	left: 0px;
	top:0px;
	width: 30px;
	height: 40px;
}
.titleList li:hover{
	background-color: black;
	opacity: 0.3;

}
.time-span{
	display: inline-block;
	float: right;
	color: #838383;
}
.title-span{

}
.title-hr{
	margin-top: 4px;
	opacity: 0.2;
}
.title-div{
	cursor: pointer;
}
#adsFoot{
	margin-top: 10px;
}
.title-link
{
	line-height: 20px;
}
#page-list-ul li{
	display: inline-block;
    float: left;
    text-align: center;
    border: 1px;


}
#page-list-ul
{
	margin-top: 5px;
	margin-bottom: 5px;
	padding-left: 0px;
}
#page-list-ul li a{
    line-height: 30px;
    padding: 4px 12px;
    border: 1px solid #ddd;
    color: #778087;
}

#page-list-ul li a:hover{
    background-color: #f5f5f5;
}
#page-list{
	height: 24px;
	margin-bottom: 5px;
}
a.active{
	 background-color: antiquewhite;
}
#img-content{
		width: 70%;
    margin: 20px auto;
    border: 1px solid #cdcdcd;
    padding: 20px;
    box-shadow: 1px 1px 1px #cdcdcd;
    border-radius: 7px;
}
.img-list
{
    list-style: none;
		padding: 0px;
}
.img-list li{
    text-align: center;
}
.novels{
	width: 100%;
	text-align: center;
	color: navy;
}
.content-novel{
	text-align: center;
	width: 100%;
	margin: 20px auto;
}
