<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>pictureStation</title>
    <link rel="stylesheet" href="/mainTheme.css">
  </head>
  <body id="app">
    <div id="header">

    </div>
    <div id="content">
    	<ul class="titleList">
    		<%for(var i of displayObj.image){%>
    			<li><a  href="/<%=i.tag_id%>" ><%=i.tag_name%></a></li>
    		<%}%>
    	</ul>
    	<ul class="titleList">
    		<%for(var i of displayObj.novel){%>
    			<li><a  href="/<%=i.tag_id%>"><%=i.tag_name%></a></li>
    		<%}%>
    	</ul>
    	<ul class="titleList">
    		<%for(var i of displayObj.movies){%>
    			<li><a  href="/<%=i.tag_id%>"><%=i.tag_name%></a></li>
    		<%}%>
    	</ul>
    </div>
    <div id="adsTop">
    	<ul class="adsList">
    		<li><a href="#"><img src="/ads/123.gif" alt="" /></a></li>
    		<li><a href="#"><img src="/ads/123.gif" alt="" /></a></li>
        <li><a href="#"><img src="/ads/123.gif" alt="" /></a></li>
        <li><a href="#"><img src="/ads/123.gif" alt="" /></a></li>
        <li><a href="#"><img src="/ads/123.gif" alt="" /></a></li>
    	</ul>
    </div>
    <!--content starts here-->
    <div id="img-content" >
        <!--images-->

        <%if(img_urls){%>
        <ul class="img-list" >
            <%for(var i of img_urls){%>
              <li><img src="<%=i%>" alt="" /></li>
            <%}%>
        </ul>
        <%}%>

        <!--articles-->
        <%if(contents){%>
          <div class="content-novel">
            <p class="novels"><%=contents%></p>
          </div>
        <%}%>

        <!--movies-->
        <%if(magnet){%>
        <p><%=magnet%></p>
        <%}%>

    </div>
    <!--content ends here-->
    <div id="adsFoot">
    	<ul class="adsList">
        <li><a href="#"><img src="/ads/123.gif" alt="" /></a></li>
    		<li><a href="#"><img src="/ads/123.gif" alt="" /></a></li>
        <li><a href="#"><img src="/ads/123.gif" alt="" /></a></li>
        <li><a href="#"><img src="/ads/123.gif" alt="" /></a></li>
        <li><a href="#"><img src="/ads/123.gif" alt="" /></a></li>
    	</ul>
    </div>
    <div id="footer"></div>
  </body>
</html>
